<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_archive.css') }}">
    <title>Station météo – archive de la {{ data_name }}</title>
</head>
<body>
    <h1>Archive de la {{ data_name }}</h1>
    <div class="graph-wrapper">
        <div class="graph"></div>
    </div>
</body>
</html>
