<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='archive_style.css') }}">
    <title>Station météo – {{ archive_string }} – {{ data_name }}</title>
</head>
<body>
    <h1>{{ data_name.capitalize() }} – {{ archive_string }}</h1>
    <div class="chart-wrapper">
        <div id="theChart" class="chart"></div>
    </div>
    <script src="https://code.jscharting.com/latest/jscharting.js"></script>
    <script src="../archive_script.js?data={{ data_title }}" defer></script>
</body>
</html>
