<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="intro">
        <p class="hello">{{ greeting }}, {{ name }}.</p>
    </div>
    <div class="all-elements">
        {% for element in data_spec %}
        <a href="./archive/?data={{ element.name }}" class="element-link">
            <div class="element">
                <div class="element-title">
                    {{ element.title }}
                </div>
                <div class="main-info">
                    <span class="value {{ element.value_class }}" data-value="{{ element.value }}"></span>
                    <span class="unit">
                        {{ element.unit }}
                    </span>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
    <div class="updated-time">
        {{ updated_time }}
    </div>
</body>
</html>
