body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: bolder;
    text-shadow: 3px 3px 3px grey;
    transition: .15s;
    text-align: center;
    margin-top: 5%;
    font-size: 400%;
}

h1:hover {
    text-shadow: 5px 5px 5px grey;
}


.chart-wrapper {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex: 0 0 80%;
    height: 30vw;
}

.chart {
    height: 100%;
    width: 80%;
    padding: 2%;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #22202D;
        color: #E5E2E2;
        box-shadow: lightgray;
        text-shadow: lightgray;
    }
}
